body {
  background-color: lightgreen;
}

/*FIRST PAGE and LOAD PAGE - - - - - - - - - - - - - - -*/
.first_page {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 40px 20px;
  cursor: pointer;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.begin_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.begin_button:hover, .begin_button:focus {
  background-color: green;
}

.loading_text {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 4px 2px;
  font-size: 16px;
  display: none;

}

.continue_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 80%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.continue_button:hover, .continue_button:focus {
  background-color: green;
}

.skip_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 80%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.skip_button:hover, .skip_button:focus {
  background-color: green;
}

.note {
  
  display: none;
  
}

.recommendation {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 32px;
  margin: 40px 20px;
  cursor: pointer;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.record {
  white-space:pre-wrap;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 40px 20px;
  cursor: pointer;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*QUESTIONNAIRE - - - - - - - - - - - - - - - - - - -*/

.questionnaire_home {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 32px;
  margin: 40px 20px;
  cursor: pointer;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yes_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.yes_button:hover, .yes_button:focus {
  background-color: green;
}

.no_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.no_button:hover, .no_button:focus {
  background-color: green;
}

.angry_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.angry_button:hover, .angry_button:focus {
  background-color: green;
}

.fear_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.fear_button:hover, .fear_button:focus {
  background-color: green;
}

.happy_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.happy_button:hover, .happy_button:focus {
  background-color: green;
}

.sad_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.sad_button:hover, .sad_button:focus {
  background-color: green;
}

.continue_q_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 60%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.continue_q_button:hover, .continue_q_button:focus {
  background-color: green;
}

.suggestion_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 30%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.suggestion_button:hover, .suggestion_button:focus {
  background-color: green;
}

.record_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.record_button:hover, .record_button:focus {
  background-color: green;
}

.restart_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  position: absolute;
  top: 70%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.restart_button:hover, .restart_button:focus {
  background-color: green;
}

#webcam {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
}